<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host</title>
    <link rel="stylesheet" href="styles/host.css">
</head>
<body>
    <h1>your DashBoard</h1>
    <h2>Connected Players:</h2>
    <ul id="playerList"><%=playerlist %></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
       const socket = io();

       socket.on('updatePlayerList', (players) => {
           const playerList = document.getElementById('playerList');
          
           players.forEach(playerId => {
               const playerItem = document.createElement('li');
               playerItem.textContent = playerId;
               playerList.appendChild(playerItem);
           });
       });

       socket.emit('hostConnect', "this is host");
    </script>
</body>
</html>
