<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Upload Page</title>
</head>

<body>
  <h1>Question Upload Page</h1>
  <h2>current question <%= questionNumber %></h2>
  <form action="/submit-question" method="post">
    <input type="text" placeholder="Enter the question" name="question">
    <input type="text" placeholder="Option 1" name="option1">
    <input type="text" placeholder="Option 2" name="option2">
    <input type="text" placeholder="Option 3" name="option3">
    <input type="text" placeholder="Option 4" name="option4">
    <input type="text" placeholder="Correct Answer" name="correctans">
    <button type="submit">Next</button>
  </form>

  
</body>

</html>
