<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>

<body>
    <a href="/list"">list all data</a>
    <form action="/submit" method="post">
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <button type="submit">Register!!</button>
    </form>
    <a href="#" class="btn" onclick="toggle('.login');">Login</a>
    
    <form class="login" action="/login" method="post" style="display: none;">
        <button onclick="hide('.login');">x</button>
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <div class="data">
        <button onclick="hide('.data');">X</button>
        <%= locals.data %>

    </div>
    

    <script>
        function toggle(classname) {
            const login = document.querySelector(classname);
            login.style.display = login.style.display === "none" ? "block" : "none";
        }
        function hide(classs){
            const login = document.querySelector(classs).style.display = "none";
        }
        

      
    </script>
</body>

</html>