<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Upload Page</title>
  <link rel="stylesheet" href="styles/questions.css">
</head>

<div class="box">
  <h1>Upload your Questions</h1>
  <h2>current question <span><%= questionNumber %></span></h2>
  <form action="/submit-question" method="post">
    <input type="text" placeholder="Enter the question" name="question" required>
    <input type="text" placeholder="Option 1" name="option1" required>
    <input type="text" placeholder="Option 2" name="option2" required>
    <input type="text" placeholder="Option 3" name="option3" required>
    <input type="text" placeholder="Option 4" name="option4" required>
    <input type="text" placeholder="Correct Answer" name="correctans" required>
    <button type="submit">Next</button>
  </form>
</div>


  
</body>

</html>
