<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>Quiz</title>
</head>

</head>

<body>

  <div id="success" class="status" style="display: none;">
    <h1 id="successs" class="text">Success</h1>
    <p>Successfully Registered !!</p>
  </div>
  <div id="failed" class="status failed" style="display: none;">
    <h1 id="fail" class="text fail">Failed</h1>
    <p>Registration Failed !!</p>

  </div>


  <div class="login-box reg">
    <form action="/submit" method="post" class="forms">
      <h1>Register</h1>
      <div class="role-container">
        <label style="color: white;">
          <input type="radio" name="role" value="host" required>
          Host
        </label>
        <br>
        <label style="color: white;">
          <input type="radio" name="role" value="player" required>
          Player


        </label>
      </div>

      <div class="user-box">
        <input type="text" name="username" required>
        <label id="username">username</label>
      </div>
      <div class="user-box">
        <input type="text" name="email" required>
        <label>Email</label>
      </div>
      <div class="user-box pass">
        <input type="password" name="password" required id="passwordu">
        <i class="fas fa-eye" id="toggleicon1"></i>

        <label>Password</label>

      </div>


      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
  <!--  -->
  <div class="login-box login" style="display: none;">
    <h1>Login</h1>
    <form action="/login" method="post" id="login">
      <div class="role-container">
        <label style="color: white;">
          <input type="radio" name="role" value="host" required>
          Host
        </label>
        <br>
        <label style="color: white;">
          <input type="radio" name="role" value="player" required>
          Player
        </label>
      </div>
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>username</label>
      </div>

      <div class="user-box pass">
        <input type="password" name="password" required id="passwordl">
        <i class="fas fa-eye" id="toggleicon2"></i>

        <label>Password</label>

      </div>
      <a href="#" class="forgot">forgot password</a>

      <button type="submit" class="loginbtn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
  <a href="#" class="btn" onclick="toggle('.login','.reg');" id="title">Login</a>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    const messg = document.getElementById("username");
    const data = '<%= locals.msg %>';
    if (data) {
      messg.textContent = data;
    } else {
      messg.textContent = "Username";
    }
    function toggle(classname, regs) {
      const login = document.querySelector(classname);
      login.style.display = login.style.display === "none" ? "block" : "none";
      document.getElementById('title').textContent = login.style.display === "block" ? "Register" : "Login";
      const reg = document.querySelector(regs);
      reg.style.display = login.style.display === "none" ? "block" : "none";

    }
    // 
    var user_password = document.getElementById("passwordu");
    var toggleicon1 = document.getElementById("toggleicon1");
    var login_password = document.getElementById("passwordl");
    var toggleicon2 = document.getElementById("toggleicon2");

    toggleicon1.addEventListener("click", function () {
      const type = user_password.type === 'password' ? 'text' : 'password';
      user_password.setAttribute('type', type)
      this.classList.toggle('fa-eye-slash')


    })
    toggleicon2.addEventListener("click", function () {
      const type = login_password.type === 'password' ? 'text' : 'password';
      login_password.setAttribute('type', type)
      this.classList.toggle('fa-eye-slash')


    })








    function hide(classs) {
      const login = document.querySelector(classs).style.display = "none";

    }

    // -----------------------------------------------------------
    var status = '<%= statuss %>';
    console.log(status);
    const success = document.getElementById("success");
    const Failed = document.getElementById("failed");
    const form = document.querySelector(".forms");

    form.addEventListener('submit', function(){
      if(status){
        success.style.display = "block";
        console.log(status);
      }else{
        Failed.style.display = "block";
        console.log(status);
      }
    })








    function closePopup() {
      document.getElementById('popup-message').style.display = 'none';
    }

    // ----------------------------------------


  </script>
</body>

</html>