<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>
    <!-- <link rel="stylesheet" href="styles/player.css"> -->
    <style>
        /* styles/player.css */

@font-face {
    font-family: "Venit";
    src: url('styles/assets/VeniteAdoremus-rgRBA.ttf');
}

body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: url('styles/assets/2151038309.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    


}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.616);
    font-family: "Venit";
    text-shadow: 5px 5px 10px black ;

}

form {
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    width: fit-content;
    margin: auto;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    border: 2px solid whitesmoke;
    transition: .5s;
}

input[type="text"]:focus{
    background-color: black;
    border-color: white;
    transform: rotate(360deg);
    color: white;
    
}

button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border: 2px solid lightblue;
    background-color: rgb(3, 174, 231);

}

button:hover {
    background-color: rgb(3, 102, 231);

}

    </style>
</head>
<body>
    <h1>Hello Player</h1>
    <form  action="/joinRoom" id="joinForm" method="GET">
        <input type="text" name="roomids" id="room" placeholder="Enter the Room id" required>
        <button type="submit">Join</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        
        document.getElementById('joinForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const roomid = document.getElementById('room').value;
            if (roomid) {
                socket.emit('joinRooms', roomid);
                console.log(`Requested to join room: ${roomid}`);
                window.location.href = "/joinRoom"
            } else {
                console.log('Room ID is required.');
            }
        });
        
        socket.on('error', function(message) {
            alert(message); // Show error message to the user
        });
    </script>
</body>
</html>
