<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
</head>
<body>
    <h1>hello player</h1>
    <form action="/joinRoom">
    <input type="text" name="roomids" id="room">
    <button>Join</button>

    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const roomid = document.getElementById("room").value;
        socket.emit("joinRooms", roomid);
        
        


        
         
    </script>
</body>
</html>