<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Feedback</title>
    <link rel="stylesheet" href="styles/result.css">

</head>
<body>
    <h1>Quiz Result</h1>
    <p>Total question: <%= totalQuestions %></p>
    <p>Your score: <%= score %></p>
    <a href="/player">Go to Home</a>
</body>
</html>
